h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  color: white;
}

p {
  font-family: "Vollkorn", Georgia, Times, serif;
  color: white;
}

a {
  color: white;
}

body {
  background-color: rgb(35, 43, 43);
  padding: 0;
  margin: 0;
}

.content {
  margin: 35px 0px 0px 0px;
  width: 100%;
}

.content > * {
  padding: 5px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(14, 17, 17);
  padding: 5px;
  box-shadow: 0px 1px 2px rgb(0, 0, 0);
  z-index: 10;
}

nav * {
  display: inline-block;
  margin: 0px;
  padding: 0px 5px 0px 5px;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
}

nav ul {
  float: right;
  list-style: none;
}

nav ul li {
  float: left;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: lightGreen;
  text-shadow: 0px 0px 2px green;
}

nav a:active {
  color: lightGreen;
  text-shadow: 0px 0px 2px yellow;
  outline: none;
}
